<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
	<test name="TestExecutionSuite">
		<classes>
			<class name="Tests.ProfileUpdateTestCases"></class>
		</classes>
	</test> <!--
	TestExecutionSuite -->
</suite> <!--
TestSuite -->
